html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #EEF0F4;
    color:#3E2723;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}



img {
    width: 250px;
    margin: 0 auto;
}

input {
    color: #2E7D32;
    background-color: #e4dceb;
    border: 0;
    padding: 50px;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #7E57C2;
    border: 0;
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
    button:hover {
        background-color: #2E7D32;
        cursor: pointer;
    }

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 18px;
    background-color: #FFFDF8;
    padding: 7px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2)
}
    ul li:hover {
        background-color: #EF5350;
        cursor: pointer;    
    }